.tabs {
	&__controls {
		display: flex;
		gap: 32px;
		border-bottom: 2px solid $color-gray-light;
		margin-bottom: 20px;
	}

	&__control {
		margin-bottom: -2px;
		padding: 12px 0;
		border: none;
		border-bottom: 2px solid transparent;
		background: unset;
		font-size: 24px;
		line-height: 30px;
		font-weight: 700;
		letter-spacing: -.01em;
		transition: border-color $transition-default;

		&:hover,
		&--active {
			border-color: $color-accent;
		}
	}

	&__content {
		position: relative;
	}

	&__pane {
		display: none;
		opacity: 0;
		transition: opacity 0.5s ease;

		&--active {
			display: block;
			opacity: 1;
		}
	}

	&__pane-row {
		display: grid;
		grid-auto-rows: 316px;
		grid-gap: 8px;

		&--col2 {
			grid-template-columns: repeat(2,minmax(0,1fr));
		}

		&--col3 {
			grid-template-columns: repeat(3,minmax(0,1fr));
		}
	}
}
