@font-face {
	font-family: 'Noah';
	src: url('../fonts/noah/Noah-Medium.woff2') format('woff2'),
	url('../fonts/noah/Noah-Medium.woff') format('woff'),
	url('../fonts/noah/Noah-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Noah';
	src: url('../fonts/noah/Noah-Bold.woff2') format('woff2'),
	url('../fonts/noah/Noah-Bold.woff') format('woff'),
	url('../fonts/noah/Noah-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noah';
	src: url('../fonts/noah/Noah-Regular.woff2') format('woff2'),
	url('../fonts/noah/Noah-Regular.woff') format('woff'),
	url('../fonts/noah/Noah-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/noto-sans/noto-sans-v36-cyrillic_latin-regular.woff2') format('woff2'),
	url('../fonts/noto-sans/noto-sans-v36-cyrillic_latin-regular.woff') format('woff'),
	url('../fonts/noto-sans/noto-sans-v36-cyrillic_latin-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

